<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/web/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <title>Camagru</title>
</head>
<body>
<header class="header">
    <nav class="menu">
        <a href="/" class="menu__logo">Camagru</a>
        <ul class="menu__ul">
            <li class="menu__li"><a href="/sign_in" class="menu__link">Sign in</a></li>
            <li class="menu__li"><a href="/sign_up" class="menu__link">Sign up</a></li>
        </ul>
    </nav>
</header>
<main class="main">
    <h1 class="title">Camagru</h1>
</main>
<footer class="footer">
    <p class="footer_info">Developed by Yuliya Kulikova 2023</p>
</footer>
</body>
</html>