<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/web/css/profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <script src="/web/js/jquery.js"></script>
    <script src="/web/js/jquery.validate.js"></script>
    <script src="/web/js/profile.js"></script>
    <title>Camagru</title>
</head>
<body>
<header class="header">
    <nav class="menu">
        <a href="/" class="menu__logo">Camagru</a>
        <ul class="menu__ul">
            <li class="menu__li"><a href="/feed" class="menu__link">Feed</a></li>
            <li class="menu__li"><a href="/new" class="menu__link">New</a></li>
            <li class="menu__li"><a href="/profile" class="menu__link menu__actual">Profile</a></li>
        </ul>
        <a href="/settings" class="menu__settings">Settings</a>
    </nav>
</header>
<main class="main">
    <ul class="feed">
        {{ range .Posts }}
        <li>
            <div class="post" id="{{ .ID }}">
                <div class="top-info">
                    <p class="author">{{ .Author }}</p>
                    <div class="delete-container">
                        <button type="submit" class="delete-button">
                            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="24px" height="24px">
                                <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16.414,15 c0,0,3.139,3.139,3.293,3.293c0.391,0.391,0.391,1.024,0,1.414c-0.391,0.391-1.024,0.391-1.414,0C18.139,19.554,15,16.414,15,16.414 s-3.139,3.139-3.293,3.293c-0.391,0.391-1.024,0.391-1.414,0c-0.391-0.391-0.391-1.024,0-1.414C10.446,18.139,13.586,15,13.586,15 s-3.139-3.139-3.293-3.293c-0.391-0.391-0.391-1.024,0-1.414c0.391-0.391,1.024-0.391,1.414,0C11.861,10.446,15,13.586,15,13.586 s3.139-3.139,3.293-3.293c0.391-0.391,1.024-0.391,1.414,0c0.391,0.391,0.391,1.024,0,1.414C19.554,11.861,16.414,15,16.414,15z"/>
                            </svg>
                        </button>
                    </div>
                    <p class="date">{{ .TimeSinceUpload }}</p>
                </div>
                <img src="{{ .ImagePath }}" class="image">
                <div class="bottom-info">
                    <div class="comment-container">
                        <p class="comment_count">{{ .CommentCount }}</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 150 150" class="comment_svg">
                            <path d="M61.44,0a61.46,61.46,0,0,1,54.91,89l6.44,25.74a5.83,5.83,0,0,1-7.25,7L91.62,115A61.43,61.43,0,1,1,61.44,0ZM96.63,26.25a49.78,49.78,0,1,0-9,77.52A5.83,5.83,0,0,1,92.4,103L109,107.77l-4.5-18a5.86,5.86,0,0,1,.51-4.34,49.06,49.06,0,0,0,4.62-11.58,50,50,0,0,0-13-47.62Z"/>
                        </svg>
                    </div>
                    <div class="like-container">
                        <p class="like_count">{{ .LikeCount }}</p>
                        <button type="submit" class="like_button {{ .LikeStatus }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="like_svg">
                                <path d=""></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="comments-container">
                    <ul class="comments">
                        {{ range .Comments }}
                        <li class="comment"><b>{{ .Author }}</b>&nbsp{{ .CommentText }}</li>
                        {{ end }}
                    </ul>
                </div>
                <div class="leave-comment-container">
                    <form id="form_{{ .ID }}" class="leave-comment">
                        <div class="comment-field">
                            <input id="comment_{{ .ID }}" class="comment-input" name="comment" type="text" placeholder="Add a comment..." >
                            <button id="button_{{ .ID }}" type="submit" class="comment-button">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </li>
        {{ end }}
    </ul>
    <div class="pages-container">
        {{ if .PreviousPage }}<a href="/feed/?page={{ .PreviousPage }}" class="pages-link">previous</a>{{ end }}
        {{ if .NextPage }}<a href="/feed/?page={{ .NextPage }}" class="pages-link">next</a>{{ end }}
    </div>
</main>
</body>
</html>