<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/web/js/jquery.js"></script>
    <script src="/web/js/profile.js"></script>
    <title>Camagru</title>
</head>
<body>
    <a href="/profile">Профиль</a>
    <a href="/feed">Лента</a>
    <a href="/settings">Настройки</a>
    <p>Мой профиль</p>
    <form id="form">
        <input type="file" id="file" name="file" accept="image/png, image/jpeg">
        <button type="submit">Загрузить</button>
    </form>
</body>
</html>