<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/web/css/settings.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <script src="/web/js/jquery.js"></script>
    <script src="/web/js/settings.js" defer></script>
    <title>Camagru</title>
</head>
<body>
<header class="header">
    <nav class="menu">
        <a href="/" class="menu__logo">Camagru</a>
        <ul class="menu__ul">
            <li class="menu__li"><a href="/feed" class="menu__link">Feed</a></li>
            <li class="menu__li"><a href="/new" class="menu__link">New</a></li>
            <li class="menu__li"><a href="/profile" class="menu__link">Profile</a></li>
        </ul>
        <a href="/settings" class="menu__settings menu__actual">Settings</a>
    </nav>
</header>
<main class="main">
    <div class="settings-container">
        <div class="notify-container">
            <p>Get notifications for likes</p>
            <label class="switch">
                {{ if .LikeNotify }}<input type="checkbox" id="like-notify" checked>
                {{ else }}<input type="checkbox" id="like-notify">{{ end }}
                <span class="slider round"></span>
            </label>
        </div>
        <div class="notify-container">
            <p>Get notifications for comments</p>
            <label class="switch">
                {{ if .CommentNotify }}<input type="checkbox" id="comment-notify" checked>
                {{ else }}<input type="checkbox" id="comment-notify">{{ end }}
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</main>
</body>
</html>