<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/web/css/sign_in.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="/web/js/jquery.js"></script>
    <script src="/web/js/sign_in.js"></script>
    <title>Camagru</title>
</head>
<body>
<header class="header">
    <nav class="menu">
        <a href="/" class="menu__logo">Camagru</a>
        <ul class="menu__ul">
            <li class="menu__li"><a href="/sign_up" class="menu__link">Sign up</a></li>
        </ul>
    </nav>
</header>
<main class="main">
    <form id="form" class="form">
        <h1 class="form_name">Sign in to Camagru</h1>
        <input id="username" name="username" type="text" placeholder="Username" class="field">
        <input id="password" name="password" type="password" placeholder="Password" class="field">
        <button type="submit" class="button">Sign in</button>
    </form>
</main>
</body>
</html>