<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camagru</title>
</head>
<body>
<form action="/sign_up" method="POST">
    <label for="login">Логин</label>
    <input id="login" name="login" type="text">

    <label for="email">Почта</label>
    <input id="email" name="email" type="text">

    <label for="password">Пароль</label>
    <input id="password" name="password" type="password">

    <label for="password_repeat">Повторите пароль</label>
    <input id="password_repeat" name="password_repeat" type="password">

    <button type="submit">Зарегистрироваться</button>
</form>
</body>
</html>