<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/web/js/jquery.js"></script>
    <script src="/web/js/jquery.validate.js"></script>
    <script src="/web/js/script.js"></script>
    <title>Camagru</title>
</head>
<body>
<form action="/sign_up" method="POST">
    <label for="login">Логин</label>
    <input id="login" name="login" type="text">
    <br>
    <label for="email">Почта</label>
    <input id="email" name="email" type="text">
    <br>
    <label for="password">Пароль</label>
    <input id="password" name="password" type="password">
    <br>
    <label for="password_confirm">Повторите пароль</label>
    <input id="password_confirm" name="password_confirm" type="password">
    <br>
    <button type="submit">Зарегистрироваться</button>
</form>
</body>
</html>