* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}


/*Header*/
.header {
    width: 100%;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: #FFFFFF;
    padding: 0 30px;
    font-size: 16px;
    font-weight: normal;
}
.menu__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    list-style: none;
}
.menu__link {
    text-decoration: none;
    color: #888888;
    transition: 0.1s;
}
.menu__link:hover {
    color: #555555;
}
.menu__logo {
    text-decoration: none;
    color: #888888;
    transition: 0.1s;
}
.menu__logo:hover {
    color: #555555;
}
.menu__settings {
    text-decoration: none;
    color: #888888;
    transition: 0.1s;
}
.menu__settings:hover {
    color: #555555;
}
.menu__actual {
    color: #6784FF;
}


/*Main*/
.main {
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.feed {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    list-style: none;
}
.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    background: #FFFFFF;
    border-color: #EEEEEE;
}
.image {
    width: 500px;
}
.top-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 50px;
    color: #555555;
}
.bottom-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 50px;
    color: #555555;
}
.like_button {
    background: #FFFFFF;
    cursor: pointer;
}
.like_img {
    fill: #F8104B;
}
.dislike_img {
    fill: #888888;
}
.dislike_img:hover {
    fill: #F8104B;
}