* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}


/*Header*/
.header {
    width: 100%;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: #FFFFFF;
    padding: 0 30px;
    font-size: 16px;
    font-weight: normal;
}
.menu__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    list-style: none;
}
.menu__link {
    text-decoration: none;
    color: #888888;
    transition: 0.1s;
}
.menu__link:hover {
    color: #555555;
}
.menu__logo {
    text-decoration: none;
    color: #888888;
    transition: 0.1s;
}
.menu__logo:hover {
    color: #555555;
}
.menu__settings {
    text-decoration: none;
    color: #888888;
    transition: 0.1s;
}
.menu__settings:hover {
    color: #555555;
}
.menu__actual {
    color: #6784FF;
}


/*Main*/
.main {
    height: 600px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    width: 360px;
    height: 50px;
    background: #6784FF;
    border-radius: 16px;
    border: none;
    font-size: 16px;
    color: #F6F5F2;
    text-decoration: none;
    transition: 0.2s;
}
.button:hover {
    background: #5C7AF5;
}