* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}


/*Header*/
.header {
    width: 100%;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: #FFFFFF;
    padding: 0 30px;
    font-size: 16px;
    font-weight: normal;
}
.menu__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    list-style: none;
}
.menu__link {
    text-decoration: none;
    color: #888888;
    transition: 0.1s;
}
.menu__link:hover {
    color: #555555;
}
.menu__logo {
    text-decoration: none;
    color: #888888;
    transition: 0.1s;
}
.menu__logo:hover {
    color: #555555;
}
.menu__settings {
    text-decoration: none;
    color: #888888;
    transition: 0.1s;
}
.menu__settings:hover {
    color: #555555;
}
.menu__actual {
    color: #6784FF;
}


/*Main*/
.main {
    height: 600px;
    background: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.settings-container {
    width: 500px;
    height: 200px;
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.notify-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 50px;
}


/* The switch button */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #6784FF;
}
input:focus + .slider {
    box-shadow: 0 0 1px #6784FF;
}
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
.slider.round {
    border-radius: 20px;
}
.slider.round:before {
    border-radius: 50%;
}